include versioneer.py
include openfmri/_version.py
include LICENSE
include MANIFEST.in
include README.rst
# These files also included via package_data in setup.py
recursive-include openfmri/tests/ds105 *
recursive-include openfmri/tests/ds114 *
